<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="css/page.css" type="text/css" media="screen" charset="utf-8"
</head>
{% if page.page_precedente %}
    <a href="{{ page.page_precedente }}.html">Page précédente</a><br/>
{% endif %}
{% for ligne in lignes %}
    {% for mot in ligne.mots %}
        {% if mot.contient_appel %}
            <span class="appel">{{ mot }}</span> 
        {% else %}
            {{ mot }}
        {% endif %}
    {% endfor %}
        <br/>
{% endfor %}
{% if page.page_suivante %}
    <a href="{{ page.page_suivante }}.html">Page suivante</a>
{% endif %}
</html>
